.field {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.field label {
    font-weight: bold;
}

.field input {
    padding: 5px;
    margin-top: 10px;
    outline-width: 0;
    font-size: 1.2rem;
    border-radius: 4px;
    border: 1px solid white;
}

.invalid input {
    border: 1px solid #d31f1f;
    background-color: #fddddd;
}

.invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.error-text {
    font-size: 1.1rem;
    color: #d11212;
    margin-bottom: 0;
}