.card {
    /* This position-property is used for checkbox position relative to its parent. */
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 30px 20px;
    background-color: #A9A9A9;
    width: 400px;
    height: fit-content;
    border-radius: 12px;
}

.dark-card {
    background-color: #2e2e2e;
}

.select-checkbox {
    position: absolute;
    top: 10px;
    left: 370px;
    height: 17px;
    width: 17px;
}

.line {
    width: 400px;
    border-width: 1.5px;
}

.edit-icon, .save-changes-icon, .cancel-changes-icon {
    position: absolute;
    top: 13px;
    left: 350px;
    width: 17px;
    height: 17px;
}

.save-changes-icon, .cancel-changes-icon {
    top: 13px;
    width: 20px;
    height: 20px;
}

.cancel-changes-icon {
    left: 375px;
}
