.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #3f3f3f;
    background-color: #C0C0C0;
}

.h1 {
    font-size: 32pt;
    padding-bottom: 20px;
}
