.delete-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 4px rgb(22, 22, 22);
    background-color: #C0C0C0;
    border: none;
    font-size: 16pt;
    color: #3f3f3f;
    cursor: pointer;
    border-radius: 5px;
}

.delete-icon {
    width: 20px;
    height: 20px;
    color: #3f3f3f;
    margin: 5px;
}