.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    background-color: #c0c0c0;
    color: #3f3f3f;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
    width: 50%;
}

.butField {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    flex-direction: row-reverse;
}

.submButton {
    font: inherit;
    color: #c0c0c0;
    background-color: #3f3f3f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
    border: 0;
    border-radius: 4px;
    width: 15rem;
    cursor: pointer;
    padding: 3px;
}

.submButton:disabled {
    background-color: #757575;
    color: #9c9c9c;
    cursor: not-allowed;
}