@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
  display: flex;
  flex-direction: column;
}

label[for="read-only"] {
  color: #C0C0C0;
  font-size: 16pt;
  position: relative;
  top: -1px;
  left: -2px;
}