.background {
    position: absolute;
    background-color: rgba(26, 26, 26, 0.75);
    z-index: 5;
    width: 100%;
    height: 100%;
}

.modal {
    position: absolute;
    top: 15vh;
    left: 30vw;
    width: 500px;
    height: 400px;
    background-color: #3f3f3f;
    z-index: 10;
    border-radius: 15px;
    color: #C0C0C0;
}

.modal header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16pt;
}

.modal input, .modal textarea {
    border: solid 1.6px #C0C0C0;
    outline: none;
    font-family: inherit;
    color: #C0C0C0;
    font-size: 13pt;
    border-radius: 6px;
    transition: border-radius 1s;
    background-color: #3f3f3f;
    padding: 0.25rem;
}

.modal input:focus, .modal textarea:focus {
    background-color: #C0C0C0;
    color: #3f3f3f;
}

.modal div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.modal button {
    border: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 35px;
    font: inherit;
    color: #3f3f3f;
    background-color: #C0C0C0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}